/* ===================================== */
/* SCANLINES */
/* ===================================== */

body::after {

  content: "";

  position: fixed;

  inset: 0;

  background:
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      rgba(0,0,0,.3) 2px,
      rgba(0,0,0,.3) 4px
    );

  pointer-events: none;

  z-index: 9999;

}

/* ===================================== */
/* NOISE */
/* ===================================== */

.noise {

  position: absolute;

  inset: 0;

  opacity: .04;

  background-image:
    radial-gradient(
      white 1px,
      transparent 1px
    );

  background-size:
    4px 4px;

}
